%h1 Judge Score Add
= form_tag competition_round_qualification_scores_path do
	- @questions.each do |q|
		= label :scores, :q_name, q.question_details
		= number_field_tag "scores[]", nil, in: 0...q.marks+1
		%p
	= submit_tag "Submit"
