/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

table#judges {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table#judges th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
}
table#judges th, table#judges td {
  padding: 4px;
  text-align: left;
}
table#judges th.hilite {
  background-color: yellow;
}
#notice, #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: maroon;
}

